<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Productos Disponibles</h2>
    <ul>
        <% products.forEach(function(prod) { %>
            <li>
                <strong><%= prod.title %></strong>
                <i>$ <%= prod.price %></i>
                <img src="<%= prod.thumbnail %>" style="height: 150px;">
            </li>
        <% }) %>
    </ul>
</body>
</html>